
/* HEADER */

header{
    background-image: linear-gradient(to right,rgb(88, 77, 120),rgb(122, 64, 122));
    display: flex;
    width: 100%;
}

.fuente1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 40px;
    width: 650px;
}

body {
    margin: 0px;
}

.contenedor{
    display: flex;
    padding-top: 8%;
    padding-bottom: 5%;
    padding-left: 6%;
    
}


.fuente2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b2a2bc;
    font-size: 25px;
    border-left: solid 2px rgba(212, 212, 212, 0.274);
    padding-left: 10%;
}

.botonsote{
    background-color: #00bd8e;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    color: #e0fff2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Body */

.carac{
    display: flex;
    background-color: #008b684f;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 3%;
    border-bottom: solid 2px rgba(194, 194, 194, 0.648);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left{
    width: 50%;
    padding-right: 100px;
    text-align: justify;
}

.left h2{
    padding-bottom: 20px;
    font-weight: bold;
}

.left p{
    line-height: 35px;
    font-size:large;
    color: #515151;
    
}

.left button{
    padding: 10px 20px 10px 20px;
    margin-top: 27px;
    margin-left: 6%;
    border-color: #cdcdcd;
    border-style: double;
    letter-spacing: 3px;
    border: solid 3px #4f0b66;
    background-color: #00bd8e;
    color: white;
}

.right div {
    display: flex;
    padding-bottom: 40px;
}

.right div img{
    width: 20px;
    height: 20px;
    border: solid 2px #4f0b66;
    border-radius: 20px;
    padding: 2px;
    background-color: white;
}

.right div p{
    margin-top: -1px;
    padding-left: 15px;
}

.principal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bloque{
    padding-left: 7%;
    display: flex;
    padding-top: 80px;
    padding-bottom: 20px;
    
}

.bloque .segundo{
    padding-left: 60px;
    width: 60%;
}

.bloque .segundo p{
    padding-right: 100px;
    font-size: medium;
    font-weight: lighter;
    color: #515151;
}

.bloque img{
    border: solid 1px gray;
}

.bloque .segundo button{
    padding: 10px 20px 10px 20px;
    margin-top: 27px;
    margin-left: 6%;
    border-color: #4f0b66;
    border-style: double;
    letter-spacing: 1.5px;
    background-color: #00bd8e;
    color: white;
}

.ultidiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ultiboton{
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 50px;
    border: solid 3px #4f0b66;
    background-color: #00bd8e;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 1px;

}







/* -- ACA EMPIEZA FOOTER -- */

footer{
    background-color: #4f0b66;
    color: white;
}

.todo{
    display: flex;
    padding-top: 50px;
    
}

.izquierda{
    width: 44%;
    padding-left: 6%;
    padding-right: 0px;
}

.izquierda h2{
    text-decoration: underline;
}

.izquierda p{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: justify;
}

.izquierda .ambos{
    width: 40%;
    font-size: medium;
    height: 25px;
}

.izquierda .correo{
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.izquierda .mensaje{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 600px;
    margin-top: 15px;
    margin-right: 40px;
    font-size: medium;
    padding-bottom: 120px;
}

.derecha{
    border-left: solid 2px rgba(194, 194, 194, 0.648);
}

.derecha div{
    padding-left: 40px;
    padding-top: 20px;
    
}

.derecha div a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    align-self: center;
}

.derecha div img{
    width: 20px;
}


.ft-boton{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 6%;
    border-radius: 6px;
    border: solid 1px;
    height: 35px;
    width: 150px;
    margin-bottom: 50px;
}

.derechos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-bottom: 0px;
}